<div>
  <div style="padding: 10px; display: inline; font-size: 24px;">
    <p>Bienvenido {{userRol}} {{userName}} {{userLastName}}</p>

    <form action="/api/sessions/logout" method="DELETE">
      <input type="submit" value="logout" />
    </form></div>

  <button class="btn btn-dark btn-sm me-2">
    <a
      class="text-white"
      href="/cart/{{userCart}}"
      style="text-decoration: none;"
    >
      Ver carrito
    </a>

  </button>

  {{#each product}}
    <div style="padding: 10px;">
      <p>Producto: {{this.title}}</p>

      <p>Descripción: {{this.description}}</p>

      <p>Stock {{this.stock}}</p>

      <p>Precio: {{this.price}}</p>

      <button
        class="btn btn-dark btn-sm me-2 btnCart botonCarrito"
        data-product-id="{{this.id}}"
        data-cart-id={{...userCart}}
      >
        Agregar al Carrito
      </button>
    </div>
  {{/each}}
  <hr />
  <hr />
  pagingCounte:
  {{pagingCounter}}
  totalPage:
  {{totalPages}}

  <hr />

  {{#if hasPrevPage}}
    <a style="text-decoration: none" href="/products?page={{prevPage}}"> ⬅️ </a>
  {{/if}}
  {{page}}
  {{#if hasNextPage}}
    <a style="text-decoration: none" href="/products?page={{nextPage}}"> ➡️</a>
  {{/if}}

  <hr />
  <hr />
</div>